.container {
  padding: 0 2rem;
}

.height_15{
  height: 15px;
}

.height_25{
  height: 25px; 
  width: 25px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
